<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TwilioAccountSid" value="AC261437551742868485872b8bd7a9dfbd"/>
		<add key="TwilioAuthToken"  value="b17a8047d699413aa8a155b7542111c4"/>
		<add key="TwilioFromNumber" value="+19786361663"/>
	</appSettings>
	<connectionStrings>
  <add name="BeachDb" connectionString="Server=tcp:beachsqlsrv.database.windows.net,1433;Initial Catalog=BeachDB;Persist Security Info=False;User ID=sqladmin;Password=S3cur3P@ssw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>
	<!-- Diğer ayarlarınız buraya gelebilir -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
